form .cf_header {
   	text-align:left;
   	font-weight:bold;
   	color:blue;
   	border:1px solid silver;
   	padding:6px;
   	padding-left:30px;
}
form tr.cf_config {
    /*background-color: silver;*/
}
form .cf_tooltip {
	width: 20px;
	padding-left: 6px;
}
form td.cf_title {
	font-weight: bold;
	text-align: right;
	padding: 0 3px;
	width: 130px;
}
form .cf_select {
	min-width: 150px;
}
form .cf_table {
	width: 580px;
}
form td.cf_spacer {
	width: 5px;
}
div.cf_debug {
	border:1px solid red; 
	padding:6px; 
	margin-bottom:6px;
}